* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #445161;
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #445161;
}
/* common-styles #1*/
.section-padding{
    padding: 50px;
}
.h2-heading {
    font-size: 30px;
    line-height: 1.2em;
    text-align: center;
    font-weight: normal;
}
.contact-form-field {
    color: #445162;
    line-height: 1.5em;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 15px;
}
.button {
    border: 1px solid white;
}
.button:hover {
    border: 1px solid white;
    background-color: #445161;
    color: white;
}
/* product-section */
.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #445162;
    color: white;
}
.product-heading {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 50px;
}
.product-description-item {
    font-size: 20px;
    line-height: 36px;
    list-style: none;
}
.product-description-item::before {
    content: '✅';
    margin-right: 10px;
}
/* about-product-section */
.about-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-product-main-content {
    width: 55%;
}
.about-product-heading {
    text-align: left;
    margin-bottom: 30px;
}
.about-product-text {
    line-height: 1.5em;
    color: #333333;
    margin-top: 20px;
}
/* dignity-and-pluses-section */
.dignity-and-pluses {
    background-color: #f5f5f5;
}
.dignity-and-pluses-heading {
    margin-bottom: 30px;
}
.dignity-and-pluses-list {
    display: flex;
    flex-wrap: wrap;
}
.dignity-and-pluses-list-item {
    flex-basis: 50%;
    color: #333333;
    line-height: 1.5em;
    list-style: none;
    margin-top: 35px;
    padding-left: 42px;
    padding-right: 20px;
    position: relative;
}
.dignity-and-pluses-list-item::before {
    content: url('./assets/plus-icon.png');
    position: absolute;
    left: 0px;
    top: 5px;
}
/* screenshots-section */
.screenshots {
    display: flex;
    flex-wrap: wrap;
}
.screenshots-heading {
    flex-basis: 100%;
    margin-bottom: 35px;
}
.screenshots-item {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    margin-top: 30px;
}
.screenshots-item-image {
    max-width: 200px;
    max-height: 150px;
    margin-right: 15px;
}
.screenshots-item-description {
    flex-basis: 65%;
}
.screenshots-item-description-heading {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: 15px;
}
.screenshots-item-description-text {
    color: #333333;
    line-height: 1.5em;
}
/* reviews-section */
.reviews {
    background-color: #F5F5F5;
}
.reviews-heading {
    flex-basis: 100%;
    margin-bottom: 35px;
}
.reviews-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.reviews-list-item {
    flex-basis: 40%;
    background-color: #EBEBEB;
    font-size: 14px;
    line-height: 1.29em;
    padding: 15px;
    margin-top: 25px;
    position: relative;
    list-style: none;
}
.reviews-list-item::before {
    content: url('./assets/userpic.png');
    position: absolute;
    top: 0px;
    left: -90px;
}

.reviews-review-text {
    font-style: italic;
    margin-bottom: 15px;
}
.reviews-review-text::before  {
    content: '';
    border: 10px solid transparent;
    border-right: 10px solid #EBEBEB;
    position: absolute;
    top: 20px;
    left: -20px;
}
.reviews-review-author {
    color: #989898;;
}
/* buy-it-section */
.buy-it-heading {
    margin-bottom: 30px;
}
.buy-it-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.buy-it-section {
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #445162;
    border: solid 2px #445162;
    border-radius: 5px;
    padding: 15px 0;
    color:white;
    text-align: center;
}
.buy-it-section-heading {
    flex-basis: 100%;
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 1.25;
    font-weight: normal;
}
.buy-it-section-price {
    flex-basis: 100%;
    background-color: white;
    color: #445162;
    font-size: 40px;
    line-height: 0.75;
    padding: 18px 0;
}
.buy-it-section-advantages {
    flex-basis: 75%;
    text-align: left;
    padding: 15px 0;
}
.buy-it-section-advantages-item {
    font-size: 14px;
    line-height: 1.71em;
}
.buy-it-section-button {
    flex-basis: 85%;
    padding: 15px 0;
    background-color: white;
    color: #445161;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}
/* contacts-section */
.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #445162;
    color: white;
}
.contacts-heading {
    flex-basis: 100%;
    margin-bottom: 30px;
}
.contact-form {
    flex-basis: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-form-field {
    font-family: inherit;
}
.contact-form-field:placeholder-shown {
    color: #445162;
    font-family: inherit;
}
.contact-form-field::placeholder {
    color: #445162;
    font-family: inherit;
}
.contacts-form-name {
    flex-basis: 100%;
    margin-bottom: 20px;
}
.contacts-form-email {
    flex-basis: 100%;
    margin-bottom: 20px;
}
.contacts-form-message {
    flex-basis: 100%;
    height: 170px;
    resize: none;
    margin-bottom: 20px;
}
.contacts-form-submit {
    flex-basis: 30%;
    font-weight: bold;
}
.contacts-main {
    flex-basis: 30%;
}
.contacts-list {
    padding: 0 0 0 30px;
}
.contacts-list-item {
    margin-bottom: 30px;
    position: relative;
}
.contacts-link {
    color: white;
    text-decoration: none;
}
.contacts-link:hover {
    text-decoration: underline;
}
.skype::before {
    content: url(./assets/skype-icon.png);
    position: absolute;
    left: -30px;
    top: -3px;
}
.icq::before{
    content: url(./assets/icq-icon.png);
    position: absolute;
    left: -30px;
    top: -3px;
}
.email::before {
    content: url(./assets/email-icon.png);
    position: absolute;
    left: -30px;
    top: -3px;
}
.phone-number::before {
    content: url(./assets/phone-icon.png);
    position: absolute;
    left: -30px;
    top: -3px;
}
.contacts-social-button-map {
    outline: none;
}
/* footer */
.footer {
    background-color: #F5F5F5;
}
.footer-content {
    text-align: center;
    padding: 5px 0;
}
/* common-styles #2*/
.no-top-margin {
    margin-top: 0;
}